.idea
configs/keypirinha/Keypirinha.history
sublime-text/User/Package\ Control.cache
sublime-text/User/Package\ Control.last-run
sublime-text/User/Package\ Control.sublime-settings
sublime-text/User/Color\ Highlight.cache
powershell/Microsoft.VSCode_profile.ps1
